<%= form_for(@task,:html => {:class => "form-inline"}) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title,class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description ,class: "form-control",:cols => 20, :rows => 1%>
  </div>
  <div class="form-group">
    <br>
    <%= f.submit class: "btn btn-primary form-control" %>
  </div>
<% end %>

<br/>
