<tr>
  <td><%= link_to task.title.titleize ,task_path(task) %></td>
  <td><%= truncate(task.description, :length => 25, :omission => '... (continued)') %></td>
  <td>
  <% if task.is_complete == true%>
   <label>
    <%= check_box_tag 'assignee_id', '1', task.is_complete, :disabled => "true"  %> Completed</label>          
  <%else%>
  <label>
      <%= check_box_tag 'assignee_id', "#{task.id}", task.is_complete, class: "rght"%> Pending</label>         
  <%end%> </td>
  <td><%= task.user.email%></td>
  <td><%= button_to "Assing", edit_task_path(task), :class => "btn btn-primary", :method => :get  %></td>
</tr>