<h1>Assign Task</h1>

<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class=>"control-label" %><br>
    <%= f.text_field :title,class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class=>"control-label" %><br>
    <%= f.text_area :description ,class: "form-control",:cols => 20, :rows => 1%>
  </div>
 <div class="form-group">
    <%= f.label :assignee_id,:class=>"control-label"  %><br>
    <%= f.select :assignee_id, options_from_collection_for_select(User.where('id != ?', current_user.id), "id", "email"), prompt: "Select Asignee" %>
  </div>
  <!-- <div class="checkbox">
    <label><%#= f.check_box :is_complete %>Complete?</label>
  </div> -->
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %> 
    <%= button_to "Details", task_path, :class => "btn btn-primary", :method => :get  %>
  </div>
<% end %>

<br/>

