<div class="form-inline form-group-dis">
  <div class="bs-example pull-left">
      <%#= link_to('New Task', new_task_path,:class => 'btn btn-large btn-primary')  %>
      <%= render 'form' %>
  </div>

  <div class="form-group pull-right">    
      <%= text_field_tag :q,nil,:placeholder=>"Search",:class=>"form-control"%>
      <%= submit_tag "Submit",:class=>"btn btn-primary",:id=>"search-submit"%>
  </div>
</div>
<table class="table table-hover table-bordered">
  <thead>
    <tr>      
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Owner</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody id="partial_content">
    <%= render(partial: 'task', collection: @tasks) %>
  </tbody>
</table>
<%= will_paginate @tasks %>
