
<div class="panel-body">
	<dl>
		<dt>Title</dt>
		<dd><%= @task.title %></dd>
		<dt>Description</dt>
		<dd><%= @task.description %></dd>
		<dt>Owner</dt>
		<dd><%= @task.user.email%></dd>
	</dl>
</div>
<%= button_to "Back", tasks_path, :class => "btn btn-primary", :method => :get  %>