/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require select2
 *= require_self
 */
.notice {
  padding: 10px;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  clear:both;
  text-align:center;
}

.alert {
  padding: 10px;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  clear:both;
  text-align:center;
}