<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Todo</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	<% unless user_signed_in? %>
        <li class="active"><%= link_to "Sign up", new_user_registration_path %><span class="sr-only">(current)</span></a></li>
        <li><%= link_to "Sign in ", new_user_session_path %></li>        
      </ul>
      <%else%>
      <ul class="nav navbar-nav navbar-left">
        <li class="active"><%= link_to "Home",root_path%></li>
      </ul>
      <ul class="nav navbar-nav">      	
        <li><%=link_to "Log out", destroy_user_session_path,method: :delete %></li>                  
      </ul>             
      <%end%>
    </div>
  </div>
</nav>
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
<div class="container">
<%= yield %>
</div>

</body>
</html>